## R Vectors

In [1]:
# A vector is simply a list of items that are of the same type.
# To combine the list of items to a vector, use the c() function and separate the items by a comma.
# Vector of strings
fruits <- c("banana", "apple", "orange")

# Print fruits
fruits

[1] "banana" "apple"  "orange"

In [2]:
# Vector of numerical values
numbers <- c(1, 2, 3)

# Print numbers
numbers

[1] 1 2 3

In [3]:
# Vector with numerical values in a sequence
numbers <- 1:10

numbers

 [1]  1  2  3  4  5  6  7  8  9 10

In [4]:
# Vector with numerical decimals in a sequence
numbers1 <- 1.5:6.5
numbers1

# Vector with numerical decimals in a sequence where the last element is not used
numbers2 <- 1.5:6.3
numbers2

[1] 1.5 2.5 3.5 4.5 5.5 6.5

[1] 1.5 2.5 3.5 4.5 5.5

In [5]:
# Vector of logical values
log_values <- c(TRUE, FALSE, TRUE, FALSE)

log_values

[1]  TRUE FALSE  TRUE FALSE

In [6]:
#Sort vector
fruits <- c("banana", "apple", "orange", "mango", "lemon")
numbers <- c(13, 3, 5, 7, 20, 2)

sort(fruits)  # Sort a string
sort(numbers) # Sort numbers

[1] "apple"  "banana" "lemon"  "mango"  "orange"

[1]  2  3  5  7 13 20

In [7]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")

# Access the first and third item (banana and orange)
fruits[c(1, 3)]

[1] "banana" "orange"

In [8]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")

# Access all items except for the first item
fruits[c(-1)]

[1] "apple"  "orange" "mango"  "lemon"

In [9]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")

# Change "banana" to "pear"
fruits[1] <- "pear"

# Print fruits
fruits

[1] "pear"   "apple"  "orange" "mango"  "lemon"

In [10]:
repeat_each <- rep(c(1,2,3), each = 3)
repeat_each

[1] 1 1 1 2 2 2 3 3 3

In [11]:
repeat_times <- rep(c(1,2,3), times = 3)
repeat_times

[1] 1 2 3 1 2 3 1 2 3

In [13]:
repeat_indepent <- rep(c(1,2,3), times = c(5,2,1))
repeat_indepent

[1] 1 1 1 1 1 2 2 3

In [15]:
#Generate sequence
numbers <- seq(from = 0, to = 100, by = 20)
numbers

[1]   0  20  40  60  80 100

## R Lists

In [17]:
# List of strings
thislist <- list("apple", "banana", "cherry")
# Print the list
thislist

[[1]]
[1] "apple"

[[2]]
[1] "banana"

[[3]]
[1] "cherry"

In [19]:
thislist <- list("apple", "banana", "cherry")
thislist[1]

[[1]]
[1] "apple"

In [20]:
thislist <- list("apple", "banana", "cherry")
thislist[1] <- "blackcurrant"

# Print the updated list
thislist

[[1]]
[1] "blackcurrant"

[[2]]
[1] "banana"

[[3]]
[1] "cherry"